{% extends "base_site.html" %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3></h3>
        </div>

        <div class="title_right">
            <div class="col-md-2 col-sm-2 cols-xs-12 pull-right">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                  <label class="btn btn-primary active" id="galleryMode">
                    <input type="radio" class="sr-only"  name="viewMode" value="0" checked>
                    <span class="docs-tooltip" data-toggle="tooltip" title="Gallery Mode">
                      <i class="fa fa-th"></i>
                    </span>
                  </label>
                  <label class="btn btn-primary" id="listMode">
                    <input type="radio" class="sr-only"  name="viewMode" value="1">
                    <span class="docs-tooltip" data-toggle="tooltip" title="List Mode">
                      <i class="fa fa-list"></i>
                    </span>
                  </label>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
            </div>
            <a href="/content_management/create_application" class="pull-right" style="margin-right: 10px">
             <button class="btn btn-round btn-create" >
                 Create Application
             </button>
            </a>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Application List</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row" id="gallery-mode">
                    {% for game in games %}
                        <div class="col-md-4">
                          <div class="thumbnail">
                            <div class="image view view-first">
                              <img src="{{ game.img_url }}" alt="image" />
                              <div class="mask">
                                <p>Action</p>
                                <div class="tools tools-bottom">
                                    {% if game.publication_status != 'Public' %}
                                    <a href="#" class="btn btn-success btn-sm"><i class="fa fa-cloud-upload"></i> Public </a>
                                    {% else %}
                                    <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-cloud-download"></i> Withdraw </a>
                                    {% endif %}
                                  <a href="#" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                  <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Delete </a>

                            </div>
                          </div>
                        </div>
                            <div class="caption">
                                <div class="col-md-6">App ID: <br/><span>{{ game.game_id }}</span></div>
                                <div class="col-md-6">App Name: <br/><span>{{ game.game_title }}</span></div>
                                <div class="col-md-6">Developer: <br/><span>{{ game.developer }}</span></div>
                                <div class="col-md-6">App Type: <br/><span>{{ game.game_type }}</span></div>
                                <div class="col-md-6">Create Date: <span>{{  game.created_at }}</span></div>
                                <div class="col-md-6">Update Date: <span>{{ game.update_at }}</span></div>
                                {% if game.publication_status == 'Public' %}
                                <div class="col-md-12">Publication Status: <span class="blue">{{ game.publication_status }}</span></div>
                                {% else %}
                                    <div class="col-md-12">Publication Status: <span class="red">{{ game.publication_status }}</span></div>
                                {% endif %}
                            </div>
                          </div>
                        </div>
                    {% endfor %}
              </div>
              <!-- start project list -->
                <table class="table table-striped projects" id="list-mode" style="display: none">
                <thead>
                  <tr>
                    <th style="width: 5%">App ID</th>
                    <th style="width: 12%">App Name</th>
                    <th style="width: 10%">Developer</th>
                    <th style="width: 13%">App Type</th>
                    <th style="width: 8%">Create Date</th>
                    <th style="width: 8%">Update Date</th>
                    <th style="width: 15%">Publication status</th>
                    <th style="width: 25%">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                  <tr>
                    <td>{{ game.game_id }}</td>
                    <td>{{ game.game_title }}</td>
                    <td>{{ game.developer }}</td>
                    <td>{{ game.game_type }}</td>
                    <td>{{ game.created_at }}</td>
                    <td>{{ game.update_at }}</td>
                    {% if game.publication_status == 'Public' %}
                    <td class="blue">{{ game.publication_status }}</td>
                    {% else %}
                    <td class="red">{{ game.publication_status }}</td>
                    {% endif %}
                    <td>
                    {% if game.publication_status == 'Public' %}
                      <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-cloud-download"></i> Withdraw </a>
                    {% else %}
                      <a href="#" class="btn btn-success btn-sm"><i class="fa fa-cloud-upload"></i> Public </a>
                    {% endif %}
                      <a href="#" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                      <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Delete </a>
                    </td>
                  </tr>
                    {% endfor %}
                </tbody>
              </table>
              <!-- end project list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}
