{% extends "base_site.html" %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel fixed_height_400">
          <div class="x_title">
            <h2>Create Application</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form class="form-horizontal form-label-left input_mask">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Application Name
                      <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" required="required" placeholder="">
                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Developer
                      <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" required="required" placeholder="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Application Type
                      <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12 btn-group">
                    <select class="form-control">
                      <option>Choose Type</option>
                      <option>App</option>
                      <option>Game</option>
                    </select>
                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Graphic Asset
                      <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                        <img id="app-image" src="/static/img/img-default.jpg" alt="your image" style="width:460px; height: 215px;"/>
                    <br>
                        <label for="img-input" class="btn btn-default btn-img">Upload Image</label>
                        <input id="img-input" type='file' onchange="readURL(this);" style="display: none"/>

                  </div>
                </div>

               <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Create Date
                      <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control has-feedback-left" id="single_cal1" disabled="disabled"
                           aria-describedby="inputSuccess2Status4">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Software Package
                      <span class="required">*</span></label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="file" id="myFile" name="filename" cl>
                  </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <a href="/content_management" class="pull-left">
                     <button type="button" class="btn btn-round btn-cancel">
                         Cancel
                     </button>
                    </a>
                    <button type="submit" class="btn btn-round btn-success pull-right" style="font-weight: bold; width: 90px">Create</button>
{#                    <button class="btn btn-round btn-primary pull-left" type="reset"  style="font-weight: bold; width: 80px">Reset</button>#}
                  </div>
                </div>

              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
    <script>
        {% if data is defined %}
            console.log({{ data|tojson }})
            var data = {{ data|tojson }}
        {% else %}
            var data = null
        {% endif %}
    </script>
  {{ super()}}
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- jQuery Sparklines -->
  <script src="{{ url_for('static', filename='vendors/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
  <!-- easy-pie-chart -->
  <script src="{{ url_for('static', filename='vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/cropper/dist/cropper.js') }}"></script>

  <script src="{{ url_for('static', filename='build/js/gauge.js') }}"></script>
{% endblock javascripts %}

