{% extends "base_site.html" %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
      <div class="row top_tiles" style="margin: 10px 0;">
        <div class="col-md-4 col-sm-4 col-xs-6 tile">
          <div class="resources-container">
            <div class="resources-overall"><i class="fa fa-database"></i> Active Instances</div>
            <div class="resources-num" id="resources-num-active">3</div>
          </div>
      </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile">
          <div class="resources-container">
            <div class="resources-overall"><i class="fa fa-minus-circle"></i> Error Instances</div>
            <div class="resources-num" id="resources-num-failure">0</div>
          </div>
      </div>
        <div class="col-md-4 col-sm-4 col-xs-6 tile">
          <div class="resources-container">
            <div class="resources-overall"><i class="fa fa-warning"></i> Warning Information</div>
            <div class="resources-num" id="resources-num-warning">3</div>
          </div>
      </div>
      </div>

      <br/>
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel fixed_height_400">
          <div class="x_title">
            <h2>Instance 1 <small>IP - 172.16.0.219</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">CPU Utilization</h3>
                        <p>Speed - 3.5 / 8 GHz</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="45">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">GPU Utilization</h3>
                        <p>Dedicated VRAM - 3.5 / 4 GB</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="86">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Memory Utilization</h3>
                        <p>In Use - 14 / 31.8 GB</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="32">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Network Throughput</h3>
                              <p>Speed</p>
                        <canvas width="150" height="80" id="chart_gauge_01" class="" style="height: 100px;"></canvas>
                        <div class="goal-wrapper">
                          <span id="gauge-text" class="gauge-value gauge-chart pull-left">0</span>
                          <span class="gauge-value pull-left"> Mbps</span>
                          <span id="goal-text" class="goal-value pull-right">1 Gbps</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Client Connection status</h3>
                        <div class="connection-status">
                              <div>Client IP: <span>172.25.0.8</span></div>
                              <div>Status: <span>Playing</span></div>
                              <div>App Name: <span>Gunjack</span></div>
                              <div>Since: <span>2021/01/21</span></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="x_content instance-controller">
                <div class="instance-status">Status: <span>Active</span></div>
                <div class="pull-right">
                    <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-power-off"></i> Reset </a>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Terminate </a>

                </div>
            </div>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel fixed_height_400">
          <div class="x_title">
            <h2>Instance 2 <small>IP - 172.16.0.285</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">CPU Utilization</h3>
                        <p>Speed - 2.3 / 8 GHz</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="28">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">GPU Utilization</h3>
                        <p>Dedicated VRAM - 1 / 4 GB</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="25">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Memory Utilization</h3>
                        <p>In Use - 11 / 31.8 GB</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="35">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Network Throughput</h3>
                              <p>Speed</p>
                        <canvas width="150" height="80" id="chart_gauge_02" class="" style="height: 100px;"></canvas>
                        <div class="goal-wrapper">
                          <span id="gauge-text2" class="gauge-value gauge-chart pull-left">0</span>
                          <span class="gauge-value pull-left"> Mbps</span>
                          <span id="goal-text" class="goal-value pull-right">1 Gbps</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Client Connection status</h3>
                        <div class="connection-status">
                              <div>Client IP: <span>172.25.10.5</span></div>
                              <div>Status: <span>Playing</span></div>
                              <div>App Name: <span>Redout</span></div>
                              <div>Since: <span>2021/03/03</span></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="x_content instance-controller">
                <div class="instance-status">Status: <span>Active</span></div>
                <div class="pull-right">
                    <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-power-off"></i> Reset </a>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Terminate </a>

                </div>
            </div>
        </div>
      </div>
    </div>
      {% for inst in data %}
      <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel fixed_height_400">
          <div class="x_title">
            <h2>Instance {{ inst }} <small>IP - {{ data[inst][6] }}</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">CPU Utilization</h3>
                        <p>Speed - {{ data[inst][0][0] }} / {{ data[inst][0][1] }} GHz</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="{{ data[inst][0][2] }} ">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">GPU Utilization</h3>
                        <p>Dedicated VRAM - {{ data[inst][1][0] }} / {{ data[inst][1][1] }} GB</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="{{ data[inst][1][2] }} ">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Memory Utilization</h3>
                        <p>In Use - {{ data[inst][2][0] }}  / {{ data[inst][2][1] }}  GB</p>
                        <div style="text-align: center; margin-bottom: 0px">
                           <span class="chart" data-percent="{{ data[inst][2][2] }} ">
                           <span class="percent"></span>
                           </span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Network Throughput</h3>
                              <p>Speed</p>
                        <canvas width="150" height="80" id="chart_gauge_0{{ inst }}" class="" style="height: 100px;"></canvas>
                        <div class="goal-wrapper">
                          <span id="gauge-text{{ inst }}" class="gauge-value gauge-chart pull-left">0</span>
                          <span class="gauge-value pull-left"> Mbps</span>
                          <span id="goal-text" class="goal-value pull-right">1 Gbps</span>
                        </div>
                    </div>
                </div>
                <div class="sidebar-widget">
                    <div class="x_content">
                        <h3 class="name_title">Client Connection status</h3>
                        <div class="connection-status">
                              <div>Client IP: <span>{{ data[inst][4]['client_ip'] }} </span></div>
                              <div>Status: <span>{{ data[inst][4]['status'] }}</span></div>
                              <div>App Name: <span>{{ data[inst][4]['app_name'] }}</span></div>
                              <div>Since: <span>{{ data[inst][4]['since'] }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="x_content instance-controller">
                <div class="instance-status">Status: <span>{{ data[inst][5] }}</span></div>
                <div class="pull-right">
                    <a href="#" class="btn btn-warning btn-sm"><i class="fa fa-power-off"></i> Reset </a>
                    <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Terminate </a>

                </div>
            </div>
        </div>
      </div>
    </div>
      {% endfor %}
      <br/>
      <div class="row">
         <div class="col-md-12 col-sm-12 col-xs-12">
            <a href="/cloud_resource/create_instance" class="pull-right">
                 <button class="btn btn-round btn-create" >
                     Create Instance
                 </button>
             </a>
         </div>
      </div>
  </div>
{% endblock content %}

{% block javascripts %}
    <script>
        {% if data is defined %}
            console.log({{ data|tojson }})
            var data = {{ data|tojson }}
        {% else %}
            var data = null
        {% endif %}
    </script>
  {{ super()}}
  <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- gauge.js -->
  <script src="{{ url_for('static', filename='vendors/gauge.js/dist/gauge.min.js') }}"></script>
  <!-- Skycons -->
  <script src="{{ url_for('static', filename='vendors/skycons/skycons.js') }}"></script>
  <!-- Flot -->
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.pie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.time.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.stack.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/Flot/jquery.flot.resize.js') }}"></script>
  <!-- Flot plugins -->
  <script src="{{ url_for('static', filename='vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/flot.curvedlines/curvedLines.js') }}"></script>
  <!-- DateJS -->
  <script src="{{ url_for('static', filename='vendors/DateJS/build/date.js') }}"></script>
  <!-- JQVMap -->
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- Chart.js -->
  <script src="{{ url_for('static', filename='vendors/Chart.js/dist/Chart.min.js') }}"></script>
  <!-- jQuery Sparklines -->
  <script src="{{ url_for('static', filename='vendors/jquery-sparkline/dist/jquery.sparkline.min.js') }}"></script>
  <!-- easy-pie-chart -->
  <script src="{{ url_for('static', filename='vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='build/js/gauge.js') }}"></script>
{% endblock javascripts %}

