{% extends "base_site.html" %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3></h3>
        </div>

        <div class="title_right">
            <div class="col-md-2 col-sm-2 cols-xs-12 pull-right">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                  <label class="btn btn-primary active"  id="galleryMode">
                    <input type="radio" class="sr-only" name="viewMode" value="0" checked>
                    <span class="docs-tooltip" data-toggle="tooltip" title="Gallery Mode">
                      <i class="fa fa-th"></i>
                    </span>
                  </label>
                  <label class="btn btn-primary"  id="listMode" >
                    <input type="radio" class="sr-only"name="viewMode" value="1">
                    <span class="docs-tooltip" data-toggle="tooltip" title="List Mode">
                      <i class="fa fa-list"></i>
                    </span>
                  </label>
                </div>
            </div>
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Connected Devices</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start devices gallery -->
                <div class="row" id="gallery-mode">
                    <p style="padding-left: 30px; font-size: 18px;">Device Realtime Streaming</p>
                  <div class="col-md-4">
                  <div class="thumbnail">
                    <div class="image view view-first">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8ci_uyV-hyI?autoplay=1&mute=1&controls=0&amp;start=6" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{#                        <video class="video-js vjs-default-skin card-img" preload="auto" data-setup='{"autoplay": "muted" }' style="width: 100%; height:100%;">#}
{#                            <source src="https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8" type="application/x-mpegURL" />#}
{#                        </video>#}
                      <div class="mask">
                        <p>Action</p>
                        <div class="tools tools-bottom">
                          <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger" ><i class="fa fa-ban"></i> Disconnect </a>
                        </div>
                      </div>
                    </div>
                    <div class="caption">
                        <div class="col-md-6">User ID: <br/><span>1015</span></div>
                        <div class="col-md-6">Device: <br/><span>Compal VR Red</span></div>
                        <div class="col-md-6">Connection status: <br/><span>playing</span></div>
                        <div class="col-md-6">App Title: <br/><span>Gunjack</span></div>
                        <div class="col-md-12">Client IP: <span>172.25.0.8</span></div>
                        <div class="col-md-7">Rendering resource: <span>172.16.0.219</span></div>
                        <div class="col-md-5">
                            <button class=" pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="1015">Launch game</button>
                        </div>
                    </div>

                  </div>
                </div>
                  <div class="col-md-4">
                  <div class="thumbnail">
                    <div class="image view view-first">
{#                      <img src="/static/img/gunjack_banner.png" alt="image" />#}
                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ume5gZEE8jI?autoplay=1&mute=1&controls=0&amp;start=120" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <div class="mask">
                        <p>Action</p>
                        <div class="tools tools-bottom">
                          <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger" ><i class="fa fa-ban"></i> Disconnect </a>
                        </div>
                      </div>
                    </div>
                    <div class="caption">
                        <div class="col-md-6">User ID: <br/><span>2046</span></div>
                        <div class="col-md-6">Device: <br/><span>VIVE Focus</span></div>
                        <div class="col-md-6">Connection status: <br/><span>playing</span></div>
                        <div class="col-md-6">App Title: <br/><span>Redout</span></div>
                        <div class="col-md-12">Client IP: <span>172.25.10.5</span></div>
                        <div class="col-md-7">Rendering resource: <span>172.16.0.285</span></div>
                        <div class="col-md-5">
                            <button class=" pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="2046">Launch game</button>
                        </div>
                    </div>
                  </div>
                </div>
                    {% for i in connection %}
                  <div class="col-md-4">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <img src="/static/img/nvidia_demo.png" alt="image" />
{#                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sBOcFrXUMgw?autoplay=1&mute=1&controls=0&amp;start=70" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                      <div class="mask">
                        <p>Action</p>
                        <div class="tools tools-bottom">
                          <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger" ><i class="fa fa-ban"></i> Disconnect </a>
                        </div>
                      </div>
                    </div>
                    <div class="caption">
                        <div class="col-md-6">User ID: <br/><span>{{ i[0].user_id }}</span></div>
                        <div class="col-md-6">Device: <br/><span>Oculus Quest</span></div>
                        <div class="col-md-6">Connection status: <br/><span>{{ i[0].connection_status }}</span></div>
                        {% if i[1] is not none %}
                            <div class="col-md-6">App Title: <br/><span>{{ i[1] }}</span></div>
                        {% else %}
                            <div class="col-md-6">App Title: <br/><span>{{ i[2] }}</span></div>
                        {% endif %}
                        <div class="col-md-12">Client IP: <span>172.21.1.1</span></div>
                        <div class="col-md-7">Rendering resource: <span>172.16.45.88</span></div>
                        <div class="col-md-5">
                            <button class=" pull-right" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ i[0].user_id }}">Launch game</button>
                        </div>
                    </div>
                  </div>
            </div>
                    {% endfor %}
              </div>
                <!-- end gallery -->
                <!-- start devices list -->
                <table class="table table-striped projects" id="list-mode" style="display: none">
                    <thead>
                      <tr>
                        <th style="width: 10%">User ID</th>
                        <th style="width: 15%">XR Devices</th>
                        <th style="width: 15%">Connection Status</th>
                        <th style="width: 15%">Client IP</th>
                        <th style="width: 15%">Rendering Resources</th>
                        <th style="width: 15%">App Title</th>
                        <th style="width: 20%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1015</td>
                        <td>Compal VR Red</td>
                        <td>playing</td>
                        <td>172.25.0.8</td>
                        <td>172.16.0.219</td>
                        <td>Gunjack</td>
                        <td>
                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Disconnect </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2046</td>
                        <td>VIVE Focus</td>
                        <td>playing</td>
                        <td>172.25.10.5</td>
                        <td>172.16.0.285</td>
                        <td>Redout</td>
                        <td>
                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Disconnect </a>
                        </td>
                    </tr>
                    {% for i in connection %}
                      <tr>
                        <td>{{ i[0].user_id }}</td>
                        <td>Oculus Quest</td>
                        <td>{{ i[0].connection_status }}</td>
                        <td>172.16.45.88</td>
                        <td>172.21.1.1</td>
                          {% if i[1] is not none %}
                        <td>{{ i[1] }}</td>
                          {% else %}
                        <td>{{ i[2] }}</td>
                          {% endif %}
                        <td>
                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Disconnect </a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                <!-- end list -->
            </div>
          </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                  </div>
                                  <div class="form-group">
                                    <label for="message-text" class="col-form-label">Message:</label>
                                    <textarea class="form-control" id="message-text"></textarea>
                                  </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Send message</button>
                              </div>
                            </div>
                          </div>
                        </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
          var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('whatever') // Extract info from data-* attributes
          // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
          // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
          var modal = $(this)
          modal.find('.modal-title').text('New message to ' + recipient)
          modal.find('.modal-body input').val(recipient)
        })
    </script>
{% endblock javascripts %}
