{% extends "base_site.html" %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3></h3>
        </div>

        <div class="title_right">
            <div class="col-md-2 col-sm-2 cols-xs-12 pull-right">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                  <label class="btn btn-primary active"  id="galleryMode">
                    <input type="radio" class="sr-only" name="viewMode" value="0" checked>
                    <span class="docs-tooltip" data-toggle="tooltip" title="Gallery Mode">
                      <i class="fa fa-th"></i>
                    </span>
                  </label>
                  <label class="btn btn-primary"  id="listMode" >
                    <input type="radio" class="sr-only"name="viewMode" value="1">
                    <span class="docs-tooltip" data-toggle="tooltip" title="List Mode">
                      <i class="fa fa-list"></i>
                    </span>
                  </label>
                </div>
            </div>
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Connected Devices</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start devices gallery -->
                <div class="row" id="gallery-mode">
                    <p style="padding-left: 30px; font-size: 18px;">Device Realtime Streaming</p>
                  <div class="col-md-4">
                  <div class="thumbnail">
                    <div class="image view view-first">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/8ci_uyV-hyI?autoplay=1&mute=1&controls=0&amp;start=6" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{#                        <video class="video-js vjs-default-skin card-img" preload="auto" data-setup='{"autoplay": "muted" }' style="width: 100%; height:100%;">#}
{#                            <source src="https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8" type="application/x-mpegURL" />#}
{#                        </video>#}
                      <div class="mask">
                        <p>Action</p>
                        <div class="tools tools-bottom">
                          <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger" ><i class="fa fa-ban"></i> Disconnect </a>
                        </div>
                      </div>
                    </div>
                    <div class="caption">
                        <div class="col-md-6">User ID: <br/><span>1015</span></div>
                        <div class="col-md-6">Device: <br/><span>Compal VR Red</span></div>
                        <div class="col-md-6">Connection status: <br/><span>Playing</span></div>
                        <div class="col-md-6">Game title: <br/><span>Gunjack</span></div>
                        <div class="col-md-12">Rendering resource: <span>1720.16.0.219</span></div>
                    </div>
                  </div>
                </div>
                  <div class="col-md-4">
                  <div class="thumbnail">
                    <div class="image view view-first">
{#                      <img src="/static/img/gunjack_banner.png" alt="image" />#}
                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Ume5gZEE8jI?autoplay=1&mute=1&controls=0&amp;start=120" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <div class="mask">
                        <p>Action</p>
                        <div class="tools tools-bottom">
                          <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger" ><i class="fa fa-ban"></i> Disconnect </a>
                        </div>
                      </div>
                    </div>
                    <div class="caption">
                        <div class="col-md-6">User ID: <br/><span>2046</span></div>
                        <div class="col-md-6">Device: <br/><span>VIVE Focus</span></div>
                        <div class="col-md-6">Connection status: <br/><span>Playing</span></div>
                        <div class="col-md-6">Game title: <br/><span>Redout</span></div>
                        <div class="col-md-12">Rendering resource: <span>172.16.0.285</span></div>
                    </div>
                  </div>
                </div>
                  <div class="col-md-4">
                  <div class="thumbnail">
                    <div class="image view view-first">
                      <img src="/static/img/nvidia_demo.png" alt="image" />
{#                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/sBOcFrXUMgw?autoplay=1&mute=1&controls=0&amp;start=70" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                      <div class="mask">
                        <p>Action</p>
                        <div class="tools tools-bottom">
                          <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger" ><i class="fa fa-ban"></i> Disconnect </a>
                        </div>
                      </div>
                    </div>
                    <div class="caption">
                        <div class="col-md-6">User ID: <br/><span>1778</span></div>
                        <div class="col-md-6">Device: <br/><span>Oculus Quest</span></div>
                        <div class="col-md-6">Connection status: <br/><span>Idling</span></div>
                        <div class="col-md-6">Game title: <br/><span>Nvidia VR Fun House</span></div>
                        <div class="col-md-12">Rendering resource: <span>172.16.45.88</span></div>
                    </div>
                  </div>
            </div>
              </div>
                <!-- end gallery -->
                <!-- start devices list -->
                <table class="table table-striped projects" id="list-mode" style="display: none">
                    <thead>
                      <tr>
                        <th style="width: 10%">User ID</th>
                        <th style="width: 15%">XR Devices</th>
                        <th style="width: 15%">Connection Status</th>
                        <th style="width: 15%">Rendering Resources</th>
                        <th style="width: 15%">Game Title</th>
                        <th style="width: 20%">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1015</td>
                        <td>Compal VR Red</td>
                        <td>Playing</td>
                        <td>172.16.0.219</td>
                        <td>Gunjack</td>
                        <td>
                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Disconnect </a>
                        </td>
                      </tr>
                      <tr>
                        <td>2046</td>
                        <td>VIVE Focus</td>
                        <td>Playing</td>
                        <td>172.16.0.285</td>
                        <td>Redout</td>
                        <td>
                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Disconnect </a>
                        </td>
                    </tr>
                      <tr>
                        <td>1778</td>
                        <td>Oculus Quest</td>
                        <td>Idling</td>
                        <td>172.16.45.88</td>
                        <td>Nvidia VR Fun House</td>
                        <td>
                          <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i> Watch </a>
                          <a href="#" class="btn btn-danger btn-sm"><i class="fa fa-ban"></i> Disconnect </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                <!-- end list -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}
{% endblock javascripts %}
